<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :job_user_id %>
  </div>

  <div class="field">
    <%= form.label :sector_id %>
    <%= form.text_field :sector_id, id: :job_sector_id %>
  </div>

  <div class="field">
    <%= form.label :capacity_id %>
    <%= form.text_field :capacity_id, id: :job_capacity_id %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :job_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :job_description %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :job_phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :job_email %>
  </div>

  <div class="field">
    <%= form.label :salary %>
    <%= form.text_field :salary, id: :job_salary %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :job_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
