<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sector_id %>
     <%= form.select :sector_id, Sector.all.collect { |p| [p.title, p.id] }, include_blank: true, class: "" %>
  </div>

  <div class="field">
    <%= form.label :capacity_id %>
    <%= form.select :capacity_id, Capacity.all.collect { |p| [p.title, p.id] }, include_blank: true, class: "" %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :job_phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :job_email %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :job_title %>
  </div>
  <div class="field">
    <%= form.label :salary_id %>
    <%= form.select :salary_id, Salary.all.collect { |p| [p.value, p.id] }, include_blank: false, class: "" %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date, id: :job_date %>
  </div>
<div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :mini1, cols:40 %>
  </div>
  <div class="field">
    <%= form.label :requirements %>
    <%= form.text_area :requirements, id: :mini2, cols:40 %>
  </div>
  <div class="field">
    <%= form.label :benefits %>
    <%= form.text_area :benefits, id: :mini3, cols:40 %>
  </div>

  <div class="actions">
    <%= form.submit "Publicar Vaga", class: "btn" %>
  </div>
<% end %>
