<p id="notice"><%= notice %></p>

<h3 class="header">Empregos</h3>
<div class="row">
<% @jobs.each do |job| %>
  <div class="col s12 m6 l3">    
    <div class="card small">
      <div class="card-stacked">
     
        <div class="card-content">
         <h6 class=""><i class="material-icons tiny ">access_time</i> <%= time_ago_in_words(job.created_at) %></h6>
        <h5 class="header"><%= job.title %></h5>
          <p><%= job.description[0..95]%> ...</p>
          <p>Salario: <%= job.salary %></p>
        </div>
        <div class="card-action">
          <%= link_to 'Ver Vaga', job %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>


<br>

<%= link_to 'New Job', new_job_path %>
