<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @user.avatar_url %>
</p>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Function:</strong>
  <%= @user.function %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
