 
 <div class="divider"></div>

    <div class="col s12 m3">    
      <div class="card small">
        <div class="card-image image">
          <img src="https://p2.trrsf.com/image/fget/cf/940/0/images.terra.com/2018/04/20/100829132gettyimages-615269202.jpg">
          <span class="card-title"><%= @posts.first.title %></span>
        </div>   
      </div>      
    </div>
    <div class="col s12 m3">    
      <div class="card small">
        <div class="card-image image">
          <img src="https://p2.trrsf.com/image/fget/cf/940/0/images.terra.com/2018/04/20/100829132gettyimages-615269202.jpg">
          <span class="card-title"><%= @posts.first.title %></span>
        </div>
      </div>      
    </div>

    <div class="col s12 m3">    
      <div class="card small">
        <div class="card-image">
          <img src="http://localhost:3000/uploads/ckeditor/pictures/3/content_dirceu2.jpg">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <p><%= @posts.third.title%></p>  
        </div>        
      </div>      
    </div>

    <div class="col s12 m3">    
      <div class="card small">
        <div class="card-image">
          <img src="http://localhost:3000/uploads/ckeditor/pictures/3/content_dirceu2.jpg">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <p><%= @posts.second.title %></p>
        </div>
      </div>      
    </div>  
    <div class="col s12 m3">    
      <div class="card small">
        <div class="card-image">
          <img src="http://localhost:3000/uploads/ckeditor/pictures/3/content_dirceu2.jpg">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <p><%= @posts.second.title %></p>
        </div>
      </div>      
    </div>
    <div class="col s12 m3">    
      <div class="card small">
        <div class="card-image">
          <img src="http://localhost:3000/uploads/ckeditor/pictures/3/content_dirceu2.jpg">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <p><%= @posts.second.title %></p>
        </div>
      </div>      
    </div>
    <div class="col s12 m3">    
      <div class="card small">
        <div class="card-image">
          <img src="http://localhost:3000/uploads/ckeditor/pictures/3/content_dirceu2.jpg">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <p><%= @posts.second.title %></p>
        </div>
      </div>      
    </div>
    <div class="col s12 m3">    
      <div class="card small">
        <div class="card-image">
          <img src="http://localhost:3000/uploads/ckeditor/pictures/3/content_dirceu2.jpg">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <p><%= @posts.second.title %></p>
        </div>
      </div>      
    </div>