<p id="notice"><%= notice %></p>

<div class="row">
 
 <div class="slider">
    <ul class="slides">
    <% @events.each do |event| %>
      <li>
        <%= link_to event do %>
          <%= image_tag (event.avatar_url),width:"100%" %> <!-- random image -->
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>

  
     

<div class="row">
  <h1 class="header red-text text-darken-2">Últimas Notícias</h1>
   <div class="divider red darken-2 "></div>
  <%= render 'form', post: @post %>
  <%= link_to posts_path do %> 
  <h5 class="link-mais orange-text right">+ Notícias</h5>
<% end %>
</div> 
<div >
  <!-- LOMADEE - BEGIN -->
<script src="//ad.lomadee.com/banners/script.js?sourceId=35984927&dimension=4&height=250&width=300&method=1&advertisers=5644&tags=25" type="text/javascript" language="javascript"></script>
<!-- LOMADEE - END -->
</div>
    
<div class="row">
<h1 class="header green-text text-darken-2">Esporte</h1>
<div class="divider green darken-2"> </div>
 <%= render 'form2' %>
 <%= link_to posts_path do %> 
  <h5 class="link-mais orange-text right">+ Esporte</h5>
<% end %>
</div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-9835055996289480",
          enable_page_level_ads: true
     });
</script>
   
<div class="row">
<h1 class="header orange-text text-darken-2">Classificados</h1>
 <div class="divider orange darken-2"> </div>
 <%= render 'form3' %>
 <%= link_to classifields_path do %> 
  <h5 class="link-mais orange-text right">+ Classificados</h5>
<% end %>
</div>

<!-- Vitrine Inteligente Lomadee -->
<div class="g3S6Z4x927jE" style="width: 970px; height: 250px">
<script type="text/javascript" class="lomadee-recommender-script" src="//ad.lomadee.com/v1/eyJwdWJsaXNoZXJJZCI6MjI3NjU1MjgsInNpdGVJZCI6MzM5MjIwODIsInNvdXJjZUlkIjozNTg3NDcwNX0%3D.js?w=970&h=250"></script>
</div><!-- Vitrine Inteligente Lomadee -->


<div class="row">
<h1 class="header blue-text text-darken-2">Emprego</h1>
<div class="divider blue darken-2"> </div>
 <%= render 'form3', post: @post %>
</div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-9835055996289480",
          enable_page_level_ads: true
     });
</script>

<div class="row">
<h1 class="header">Receitas</h1>
 <%= render 'form2', post: @post %>
</div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-9835055996289480",
          enable_page_level_ads: true
     });
</script>

<div class="row">
<h1 class="header">Concurso</h1>
 <%= render 'form3', post: @post %>
</div>
<!-- LOMADEE - BEGIN -->
<script src="//ad.lomadee.com/banners/script.js?sourceId=35984927&dimension=9&height=350&width=350&method=0" type="text/javascript" language="javascript"></script>
<!-- LOMADEE - END -->

