<%= form_with(model: classifield, local: true, multipart: true) do |form| %>
  <% if classifield.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(classifield.errors.count, "error") %> prohibited this classifield from being saved:</h2>

      <ul>
      <% classifield.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="file-field input-field">
  <div class="btn">
    <span>Escolha ate 6 imagens</span>
    <%= form.file_field :images, multiple: true, class: "" %>
  </div>
   <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Upload one or more files">
  </div>
</div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :classifield_title %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value, id: :classifield_value %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :classifield_phone %>
  </div>

  <div class="field">
    <%= form.label :city_id %>
    <%= form.select :city_id, City.all.collect { |p| [p.description, p.id] }, include_blank: true, class: "" %>
  </div>

  <div class="field">
    <%= form.label :sale %>
    <%= form.check_box :sale, id: :classifield_sale %>
  </div>
   <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :mini1, cols:40 %>
  </div>

  <div class="actions">
    <%= form.submit "Publicar", class: "btn" %>
  </div>
<% end %>
