<p id="notice"><%= notice %></p>

<h3 class="header orange-text text-darken-2">Classifields</h3>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Description</th>
      <th>Value</th>
      <th>Date</th>
      <th>Sale</th>
      <th>imagem</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @classifields.each do |classifield| %>
      <tr>
        <td><%= classifield.user %></td>
        <td><%= classifield.title %></td>
        <td><%= classifield.description %></td>
        <td><%= classifield.value %></td>
        <td><%= classifield.date %></td>
        <td><%= classifield.sale %></td>
         <td><%= classifield.avatar_url %></td>
        <td><%= link_to 'Show', classifield %></td>
        <td><%= link_to 'Edit', edit_classifield_path(classifield) %></td>
        <td><%= link_to 'Destroy', classifield, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Classifield', new_classifield_path %>
