<p id="notice" ><%= notice %></p>

 
    <h1 class="header deep-purple-text text-darken-1">Eventos</h1>
    <div class="divider deep-purple darken-1"></div>
<div class="row">
  <% @events.each do |event| %>  
  
    <div class="col s12 m4">
    <%= link_to event do %>
      <div class="card medium">
        <div class="card-image">
          <%= image_tag(event.avatar_url) %>
           
        </div>
        <div class="card-content">
          <p class="card-title grey-text flow-text"><%= event.title %></p>
        </div>
        <div class="card-action">
            <div class="col m3">
              <h5 class="red-text center"><%= event.date.to_formatted_s(:short) %></h5>
            </div>
            <div class="col m9">
              <p class="red-text"><%= event.address %></p>
              <p class="red-text"><%= event.city.description %></p>    
            </div>  
        </div>
      </div>
       <% if can? :destroy, Event %>
            <p><%= link_to 'Editar', edit_event_path(event), class: "btn blue darken-2 white-text" %><%= link_to 'Excluir', event, class: "btn red darken-2 white-text", method: :delete, data: { confirm: 'Are you sure?' } %></p>
          <% end %>
    <% end %>
    </div>
  

  <% end %>
</div>
 <% if can? :create, Event %>
      <%= link_to 'Novo Evento', new_event_path, class: "btn btn-lg blue darken-2 white-text" %>
    <% end %>

