<p id="notice"><%= notice %></p>

<div class="col s12 m4 l4">
  <%= image_tag (@event.avatar_url),width:"100%" %>
</div>
<div class="row">
            <div class="col m10 l11">
              <h3 class="header"><%= @event.title %></h3>
            </div>
            <div class="col m1 l1">
              <h3 class="red-text  circle center"><%= @event.date.to_formatted_s(:short) %></h3>   
            </div>
</div>
<div class="conteudo col s12">
  <h5 class="header">Detalhes</h5>
  <p><%= @event.body.html_safe %></p>
</div>
<div >
<!-- LOMADEE - BEGIN -->
<script src="//ad.lomadee.com/banners/script.js?sourceId=35984927&dimension=1&height=90&width=728&method=0" type="text/javascript" language="javascript"></script>
<!-- LOMADEE - END -->
    

</div>
<div class="col s12">
  <h5 class="header">Galeria de Fotos</h5>
</div>
      <div class="row">
    <% @event_attachments.each do |event_attachment| %>
     
        <div class="col m3 s12">
            <%= image_tag (event_attachment.avatar_url), class:"materialboxed", width:"100%" %>
            <br>
        </div>
      <% end %>
      </div>
<%= link_to 'Voltar', events_path, class: 'volta waves-effect waves-light btn white-text blue' %>
