<p id="notice"><%= notice %></p>
<div class="row">
            <div class="col m10">
              <h3 class="header"><%= @event.title %></h3>
            </div>
            <div class="col m1">
              <h5 class="red-text  circle center"><%= @event.date.to_formatted_s(:short) %></h5>   
            </div>
</div>
<div class="col m6 center">
  <%= image_tag (@event.avatar_url),width:"80%" %>
</div>
<div class="col s12">
  <h5 class="header">Detalhes</h5>
  <p>
    <%= @event.body %>
  </p>
</div>
<div >
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- banner -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-9835055996289480"
        data-ad-slot="4268985176"
        data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

</div>
<div class="col s12">
  <h5 class="header">Galeria de Fotos</h5>
</div>
      <div class="row">
    <% @event_attachments.each do |event_attachment| %>
     
        <div class="col m3 s12">
            <%= image_tag (event_attachment.avatar_url), class:"materialboxed", width:"100%" %>
            <br>
        </div>
      <% end %>
      </div>
    
  
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
