<%= form_with(model: event_attachment, local: true) do |form| %>
  <% if event_attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_attachment.errors.count, "error") %> prohibited this event_attachment from being saved:</h2>

      <ul>
      <% event_attachment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.text_field :event_id, id: :event_attachment_event_id %>
  </div>

  <div class="field">
    <%= form.label :avatar %>
    <%= form.text_field :avatar, id: :event_attachment_avatar %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
