<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @event_attachment.event %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @event_attachment.avatar %>
</p>

<%= link_to 'Edit', edit_event_attachment_path(@event_attachment) %> |
<%= link_to 'Back', event_attachments_path %>
