<p id="notice"><%= notice %></p>

  <div class="section">

    <div class="row">
      <div class="col s12 m12 l12 center">
        <h1 class="header bold"><%= @post.title %></h1>
        <h5 class="grey-text text-darken-2"><%= @post.sub %></h5>
        <div class="divider"></div>

        <div class="">
          <p>Por: <%= @post.user.name%></p>
          <p>Atualizado: <%= time_ago_in_words(@post.created_at) %></p>
          <p></p>
        </div>

        <div class="conteudo col s12 m12 l10 offset-l1">
          <%= image_tag(@post.avatar_url, class:"imagem")%>
          <p class=""><%= @post.body.html_safe %></p>
        </div>
      </div>
    </div>
        <h4 class="header left">Veja Tambem</h4>
        <div class="row">
        <% @vejas.each do |post| %>
              
              <div class="col s12 m4">    
                <div class="card small">
                  <div class="card-image">
                    <img src="http://localhost:3000/uploads/ckeditor/pictures/3/content_dirceu2.jpg">
                    <span class="card-title"></span>
                  </div>
                  <div class="card-content">
                    <p><%= post.title%></p>          
                  </div>        
                </div>      
              </div>
        <% end %>
        </div>
  </div>

<%= link_to 'Back', posts_path %>
