<!DOCTYPE html>
<html>
  <head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118359357-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118359357-1');
</script>

    <title>Mix Cidades - O Portal onde sua cidade acontece.</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
      <nav class="top-nav blue darken-3">
        <div class="container">
          <div class="nav-wrapper">  
          <%= link_to t('.Mix Cidades'), root_path, class: ['brand-logo center page-title'] %>         
          
            <form>
              <div class="input-field right">
                <input id="search" type="search" required>
                <label class="label-icon" for="search"><i class="large material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
            </form>
          </div>
        </div>
        <a href="#" id="botao" data-activates="sid" class="sid button-collapse"><%= material_icon.menu %></a>
      </nav>

      <ul id="sid" class="side-nav fixed">
          <li><div class="user-view">
            <div class="">
              <%= image_tag 'logo.svg' %>
            </div>
          </div></li>
          
          
          <li><div class="divider"></div></li>
          <li><a class="subheader">Categorias</a></li>
          <li><%= link_to 'Notícias', posts_path , class:"waves-effect" %></li>
          <li><%= link_to 'Esporte', posts_path , class:"waves-effect" %></li>
          <li><%= link_to 'Classificado', classifields_path , class:"waves-effect" %></li>
          <li><%= link_to 'Emprego', jobs_path , class:"waves-effect" %></li>
          <li><%= link_to 'Receitas', posts_path , class:"waves-effect" %></li>
          <li><%= link_to 'Concurso', posts_path , class:"waves-effect" %></li>
          <li><%= link_to 'Licitacao', posts_path , class:"waves-effect" %></li>
          <li><%= link_to 'Noticias', posts_path , class:"waves-effect" %></li>
        </ul>

    </header>

  <main class="home">
    <%= yield %>
  </main>

        <footer class="page-footer grey darken-3">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">MIX Cidades</h5>
                <p class="grey-text text-lighten-4">O Portal onde sua cidade acontece.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Institucional</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Termos de Uso</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Politica de Privacidade</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Sobre a MIX</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Anuncie na MIX</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Contato</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright mixcidades.com.br
            <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
          </div>
        </footer>
            
  </body>
</html>
