<!DOCTYPE html>
<html>
  <head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118359357-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118359357-1');
</script>
<!-- Global site tag - Google Ads -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-9835055996289480",
          enable_page_level_ads: true
     });
</script>



    <title>Mix Cidades - O Portal onde sua cidade acontece.</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>

                
      <nav class="blue darken-3">
        <div class="container">
          <div class="nav-wrapper">
            <%= link_to ('Mix Cidades'), root_path, class: ['brand-logo center page-title lin'] %>
            <ul class="right ">  
              <% if user_signed_in? %>
                <li>
                <%= link_to user_path(current_user.id), class: 'navbar-link' do  %>
                  <%= image_tag current_user.avatar_url, class: "avatar" %>
                <% end %>
                </li> 
              <% else %>
              <li>
                <%= link_to new_user_session_path, :class => 'navbar-link' do  %>
                  <i class="material-icons white-text">account_circle</i>
                <% end %>
              </li>
              <% end %>
            </ul>
          </div>
        
        <a href="#" id="botao" data-activates="sid" class="sid sidenav-trigger"><%= material_icon.menu %></a>
        </div>
      </nav>

      <ul id="sid" class="side-nav fixed">
          <li><div class="user-view">
            <div class="">
              <%= image_tag 'logo.svg' %>
            </div>
          </div></li>
          
          
          <li><div class="divider"></div></li>
          <li><a class="subheader">Categorias</a></li>
          <li><%= link_to 'Home', root_path , class:"waves-effect" %></li>
          <li><%= link_to 'Notícias', posts_path , class:"waves-effect" %></li>
          <li><%= link_to 'Esporte', posts_path(category: 3) , class:"waves-effect" %></li>
          <li><%= link_to 'Eventos', events_path , class:"waves-effect" %></li>
          <li><%= link_to 'Classificados', classifields_path , class:"waves-effect" %></li>
          <li><%= link_to 'Empregos', jobs_path , class:"waves-effect" %></li>
          <li><%= link_to 'Guia Comercial', commercials_path , class:"waves-effect" %></li>
          <li><%= link_to 'Receitas', posts_path , class:"waves-effect" %></li>
          <li><%= link_to 'Concursos', posts_path , class:"waves-effect" %></li>
          
        </ul>

    </header>

  <main class="home">
    <%= yield %>
  </main>

        <footer class="page-footer grey darken-3">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">MIX Cidades</h5>
                <p class="grey-text text-lighten-4">O Portal onde sua cidade acontece.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Institucional</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Termos de Uso</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Politica de Privacidade</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Sobre a MIX</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Anuncie na MIX</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Contato</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright mixcidades.com.br
            <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
          </div>
        </footer>
            
  </body>
</html>
